<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= @figure.name %></h2>
    <label>Landmarks:</label>
    <% @figure.landmarks.each do |landmark| %>
    <%= landmark.name %>
    <% end %>

  </body>
</html>
